<ol>
  {{#each beers}}
    <li>{{name}}</li>
  {{/each}}
</ol>
{{! Cuando se manda a la vista de handlebars un array, hay que usar la palabra this }}
{{!-- <ol>
  {{#each this}}
    <li>{{name}}</li>
  {{/each}}
</ol> --}}