<dir id="container">
    <div>
<img class="beer-img" src="/images/beer.png" alt="">
</div>
<div id="container-buttons">
    <a href="/beers"><button id="beer">Check the Beers!</button></a>
    <a href="/random-beer"><button id="random-beer">Check a Random Beer!</button></a>
</div>
</dir>