<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Beers</title>
  </head>

  <body>
     <header>
        <div class="top-bar">
            <nav>
                <ul>
                <li><a class="cool-link" href="/">Inicio</a></li>
                <li><a class="cool-link" href="/beers">Beers</a></li>
                <li><a class="cool-link" href="/random-beer">Random Beer</a></li>
                </ul>
            </nav>
    </header>
    {{{body}}}
  </body>
</html>